<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Association XYZ</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
    <div class="container">
      <a class="navbar-brand" href="#">Association XYZ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="evenements.html">Événements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus.html">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <div class="container mt-4">
     <h1 class="main-title">Bienvenue sur le site de l'Association XYZ</h1>
      <div class="row">
        <div class="col-md-6">
            <img src="images.png" alt="Image" class="custom-image">
          </div>
          <div class="col-md-6">
            <img src="download.jpg" alt="Image" class="custom-image">
          </div>
        <div class="col-md-6">
            <h4 class="custom-title">Nous somme</h4>
            <p class="custom-paragraph"> L'Association XYZ pour l'Avenir est une organisation caritative dévouée à apporter un changement positif et durable dans la vie des plus démunis de notre société. Depuis sa fondation il y a 10 ans, notre association s'est engagée à lutter contre la pauvreté, l'injustice sociale et à promouvoir l'égalité des chances pour tous.</p>
            <h4 class="custom-title">Aider avec nous</h4>
             <p  class="custom-paragraph"> En rejoignant l'Association XYZ pour l'Avenir, vous pouvez être acteur du changement et apporter votre contribution à une cause noble et humanitaire. Ensemble, nous pouvons faire une différence significative dans la vie de ceux qui en ont le plus besoin.
                 Rejoignez-nous aujourd'hui et aidons ensemble à créer un monde où chaque individu a la possibilité de vivre dignement, d'accéder à l'éducation et de construire un avenir meilleur pour lui-même et sa communauté.</p>
        </div>
        <div class="col-md-6">
            <h4 class="custom-title">Notre mission</h4>
            <p  class="custom-paragraph">Notre mission est de fournir une assistance essentielle aux personnes dans le besoin, notamment en distribuant de la nourriture, des vêtements et des articles de première nécessité aux sans-abri et aux familles défavorisées. Nous offrons également un soutien éducatif aux enfants issus de milieux défavorisés, afin de leur donner une chance de réaliser leur plein potentiel.
                Outre nos activités locales, nous menons également des programmes de développement durable dans les régions les plus défavorisées du monde. Ces projets visent à améliorer l'accès à l'eau potable, à l'éducation et à la santé pour les communautés les plus vulnérables.
                Notre association repose sur les valeurs de solidarité, d'empathie et de responsabilité sociale. Nous croyons en la puissance de l'engagement collectif pour créer un avenir meilleur pour tous. C'est pourquoi nous encourageons la participation active des bénévoles et des partenaires qui partagent notre vision.
                Grâce au soutien généreux de nos donateurs et partenaires, nous avons pu réaliser d'innombrables projets qui ont changé la vie de milliers de personnes. Chaque don compte et contribue à bâtir un monde plus solidaire et équitable.</p>
                
        </div>
    </div>
 </div> 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
